<section class="footer">
    <div class="data">
      <div class="m-4">
        <ul class="nav nav-tabs" id="myTab">
          <li class="nav-item">
              <a href="#Horario" class="nav-link active" data-bs-toggle="tab">Horario</a>
          </li>
          <li class="nav-item">
              <a href="#Mapa" class="nav-link" data-bs-toggle="tab">Mapa</a>
          </li>
          <li class="nav-item">
            <a href="#Correo" class="nav-link" data-bs-toggle="tab">Correo</a>
        </li>
        </ul>
      <div class="tab-content">
          <div class="tab-pane fade show active" id="Horario">
            <div class="horario">
              <ul>
                <li>23 Julio 2022, 19:00 - 23:00</li>
                <li>24 Julio 2022, 19:00 - 23:00</li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="Correo">
            <div class="correo">
              <p>Correo: kingsOfNuMetal@gmail.com</p>
            </div>
          </div>
          <div class="tab-pane fade" id="Mapa">
            <div class="mapa">
              <iframe class="mapa__iframe"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2042.3064817403804!2d-4.185556569587854!3d37.86808212079083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6db30671703f19%3A0xbb84f97599c6fc89!2sIglesia%20de%20Nuestro%20Padre%20Jes%C3%BAs!5e0!3m2!1ses!2ses!4v1650069485331!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
       </div>
    <section class="header">
      <div class="header__grid">
        <a href="./index.html"><img class="header__img" src="./assets/images/logo.jpg" alt="Logo festival"></a>
        <div class="header__a">
          <a  href="./index.html">Inicio</a>
          <a  href="./bands.html">Bandas</a>
          <a  href="./Historia.html">Historia</a>
          <a  href="./tickets.html">Sorteo</a>
        </div>
        <div class="header__a">
          <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
          <a href="#"><i class="fa fa-fw fa-twitter"></i></a>
        </div>
      </div>
    </section>
    </div>
  </section>